{{define "contentHTML"}}
<link rel="stylesheet" href="/static/styles/vue-color-picker.min.css">

<div>
  <div class="hc col-100 flex-container" id="paintContent">
    <div class="panel col-80">
      <div class="panel col-50 pull-left">
        <div class="panel-header">Configuration</div>
        <div class="panel-content">
          <div class="input-group">
            <label for="rows" class="dyn-input-label" id="rows-label">Rows</label>
            <input type="text" id="rows-setting" name="rows" class="dyn-input" v-model="rows" />
          </div>
          <div class="input-group">
            <label for="cols" class="dyn-input-label" id="cols-label">Cols</label>
            <input type="text" id="cols-setting" name="cols" class="dyn-input" v-model="cols" />
          </div>
          <div class="input-group">
            <label for="parallel" class="dyn-input-label" id="parallel-label">Parallel</label>
            <input type="text" id="parallel-setting" name="parallel" class="dyn-input" v-model="parallels" />
          </div>
          <div class="input-group">
            <label for="parallel" class="dyn-input-label" id="panel-label">Panels</label>
            <input type="text" placeholder="0,1,2,3" id="panel-input" type="text" name="parallel" class="dyn-input"
              v-model="panels" />
          </div>
        </div>
      </div>
      <div class="panel col-50 pull-right">
        <div class="panel-header">Paint Options</div>
        <div class="panel-content">
          <div class="input-group">
            <label for="brush" class="dyn-input-label" id="brush-label">Brush Size</label>
            <input type="text" placeholder="1" type="number" min="1" max="3" id="brush" v-on:change="setBrushSize()"
              name="parallel" class="dyn-input" v-model="brushSize" />
          </div>
          <div class="input-group">
            <label for="hue" class="dyn-input-label" id="sHue-label">Hue</label>
            <input type="text" placeholder="1" type="number" min="0" max="360" id="hue" name="hue" class="dyn-input"
              v-model="color.hue" />
          </div>
          <div class="input-group" v-show="gBrush">
            <label for="sHue" class="dyn-input-label" id="sHue-label" title="Only used when gradient brush is selected">Gradient Stop Hue</label>
            <input type="text" placeholder="1" type="number" min="0" max="360" id="sHue" name="sHue" class="dyn-input"
              v-model="stopHue" />
          </div>
          <div class="input-group" v-show="gBrush">
            <div>
              <label for="cGradient" class="dyn-input-label" id="cGradient-label">Circular Gradient</label>
              <label class="chmk-container vhc">
                <input type="checkbox" v-model="circularGradient" class="cb">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel col-50">
      <div class="panel-header vhc">
        <span>Actions</span>
      </div>
      <div class="panel-content vhc">
        <div class="btn vhc l3" v-on:click="createMatrix()">
          <span class="tc">New</span>
        </div>
        <div class="btn vhc l3" v-on:click="apply()">
          <span class="tc">Apply</span>
        </div>
        <div class="btn vhc l3" v-on:click="test()">
          <span class="tc">Gradient</span>
        </div>
        <div class="btn vhc l3" v-on:click="test()">
          <span class="tc">Test</span>
        </div>
        <div class="vhc">
          <input id="rotating" type="checkbox" role="button" class="toggle-btn" v-on:click="rotate()" />
          <label for="rotating" class="toggle-lbl vhc l3"><span class="tc">Rotate</span></label>
        </div>
        <div class="vhc">
            <input id="graBrush" type="checkbox" role="button" class="toggle-btn" v-model="gBrush"/>
            <label for="graBrush" class="toggle-lbl vhc l3" style="font-size:15px;"><span class="tc">Grad Brush</span></label>
          </div>
      </div>
    </div>
    <div class="panel col-80">
      <div class="panel-header"></div>
      <div class="panel-content hc">
        <div class="panel col-50">
          <div class="panel-content vhc col-100" style="height:80px;">
            <div>Luminance</div>
            <div class="range-slider hc">
              <input class="range-slider__range" type="range" value="100" min="0" max="100" v-model="color.luminosity">
            </div>
          </div>
          <div class="panel-content hc">
            <color-picker v-bind="color" @input="onInput"></color-picker>
          </div>
        </div>
        <div class="panel col-100">
          <div class="panel-header"></div>
          <div class="panel-content hc">
            <div id="matrix" class="matrix hc" v-on:touchmove="setPixelMobile($event)">
              <div v-for="row in pixels" class="row hc col-100">
                <div v-for="pixel in row" v-bind:x="pixel.x" v-bind:y="pixel.y" class="pixel" v-bind:style="pixel.style"
                  :key="pixel.id" v-on:mouseover="setPixel(pixel)"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/scripts/widgets/vue-color-picker.js"></script>
<script src="/templates/cubert/cubert.js"></script>
{{ end }}