  .background-box {
    background: rgba(21, 21, 21, 0.7);
  }
  
  .row {
    display: inline-block;
    margin: 0px;
  }
  
  .trim-content-box {
    background: rgba(21, 21, 21, 0.6);
    color: #4fffb4;
    margin: auto;
    border: 3px solid;
    justify-content: center;
    border-style: solid;
    border-width: 0px 5px;
  }
  
.slogan-box {
    display: flex;
    align-items: center;
    width: 600px;
    height: 120px;
    font-size: 60px;
  }
  
  .top-cell {
    width: 100vw;
    min-height: 700px;
    margin: 0;
  }

  .btn {
    width:90px;
    height:35px;
    background:#111;
    margin:5px;
    font-weight:bold;
  }
  
  /*.btn:hover {
    color:#111; 
    background: greenyellow;
    cursor:pointer;
  }*/

  /*::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }*/
  
  clock-widget {
    font-size: 65px;
  }
  
  globe {
    color: rgb(0, 253, 135);
    position: relative;
    top: 50px;
    font: 13px/20px Arial, sans-serif;
    cursor: auto;
  }

  #search-form {
    position: absolute;
    top: 0;
  }

  canvas {
    position: inherit !important;
  }
  
  /* Make into a more specific ID */
  #ipAddr {
    font-size: 35px;
    position: absolute;
  }
  
  #macAddr {
    position: absolute;
    bottom: 10px;
  }
  
  #castButton {
    width: 25px;
    height: 25px;
    padding: 1px;
    vertical-align: middle;
    display: inline;
    --disconnected-color: red;
    --connected-color: greenyellow;
  }
  
  .modal-close {
    content: "x";
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10;
    z-index: 1;
  }
  
  /*? Replace with w-100*/
  .media-player {
    width: 100%;
    height: 100%;
  }
  
  /*? Replace with h-80 and remove class*/
  video {
    width: inherit;
    height: 100%;
  }
  
  .player-controls {
    width: inherit;
    background: black;
  }
  
  .player-buttons {
    display: flex;
    justify-content: flex-start;
    width: 60px;
    float: left;
    background: black;
  }
  
  .player-navigation {
    width: calc(100% - 100px);
    float: left;
    background: black;
    height: 30px;
  }
  
  #seek-navigation {
    width: 100%;
    margin: 0;
  }
  
  .seek-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
  
    background: #212121;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: #34caa9;
    cursor: pointer;
  }
  
  .seek-slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #34caa9;
  
    cursor: pointer;
  }
  
  .volume-slider {
    transform: rotate(270deg);
    -webkit-appearance: none;
    background: #212121;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    position: relative;
    top: -50px;
    height: 25px;
    width: 70px;
    display: none;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 30px;
    background: #34caa9;
    cursor: pointer;
  }
  
  .volume-slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #34caa9;
  
    cursor: pointer;
  }
  
  .player-augments {
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 40px;
    background: black;
  }
  
  #volume:hover > .volume-slider {
    display: block;
  }
  
  .video-control {
    display: flex;
    justify-content: center;
    color: #34caa9;
    align-items: center;
    height: 30px;
    width: 30px;
    border: none;
    background: #212121;
    font-size: 10px;
  }
  
  .video-control:hover {
    background: #34caa9;
    color: #212121;
  }
  
  .fa-volume-up {
    position: absolute;
  }
    
  .dynamic-label {
    position: relative;
    margin: 0 0 5px 0;
    font-weight: bolder;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #212121 inset;
    -webkit-text-fill-color: #4fffb4 !important;
  }
  
.row {
    display: inline-block;
    margin: 0px;
    height:fit-content !important;
}


.matrix {
    line-height: 0px;
    float: left;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.pixel {
  width:7px;
  height:7px;
  background:black;
  border-radius:0px;
  //margin:1px;
  float:left;
}

.toast {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  opacity: .7;
  right: 0;
  border-radius:5px 0 0 0;
  background: black;
  color: #05fc7c;
  text-transform: uppercase;
  width: 250px;
  height: 100px;;
  z-index: 100;
}


/*Remove these */

.error {
  background: indianred;
  color:black;
}

.success {
  background:mediumspringgreen;
  color: black;
}
