{{define "baseHTML"}}

<head>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/styles/custom.css">
    <link rel="stylesheet" href="/static/styles/app.css">
    <link rel="stylesheet" href="/static/styles/material_icons.css">

    <script src="/static/scripts/thirdparty/all.js"></script>
    <script src="/static/scripts/thirdparty/typed-2_0_9.js"></script>
    <script src="/static/scripts/thirdparty/jquery-2.1.0.min.js"></script>
    <script src="/static/scripts/thirdparty/axios.min.js"></script>
    <script src="/static/scripts/thirdparty/vue-2.5.17.js"></script>
</head>

<body class="noselect" >
    <div class="navbar vc" id="indexApp">
        <div class="navbar-logo">
            <div class="navbar-icon vhc">
                <input id="sidebar-toggle" type="checkbox" role="button" class="toggle-btn" />
                <label for="sidebar-toggle" style="height:45px;" class="vhc toggle-ico"><i class="material-icons icon-sm logo-nav-icon"></i></label>
                <div class="nav-menu vhc">
                    <div class="panel col-100" v-cloak>
                        <div class="panel-content col-100 hc">
                            <a href="/" class="l2 clickable no-touch-table navbar-menu-item col-100" style="height:60px;">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">
                                      Home
                                    </div>
                                </div> 
                            </a> 
                            <a href="/media" class="l2 clickable no-touch-table navbar-menu-item col-100"  style="height:60px;">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px" >Media</div>
                                </div>
                            </a>
                            <a href="/CUBErt" class="l2 clickable no-touch-table navbar-menu-item col-100" v-if="options.cubert" style="height:60px;">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">CUBErt</div>
                                </div>
                            </a>
                            <a href="/camera" class="l2 clickable no-touch-table navbar-menu-item col-100" v-if="options.camera" style="height:60px;">
                                <div class="panel col-100">
                                    <div class="panel-header tc" style="font-size:25px">Camera</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-overlay"></div>
            </div>
        </div>
        <div class="navbar-navigation vhc" v-cloak>
            <a href="/" class="navbar-item vhc" v-bind:class="{active: globals.prototype.$homeActive}">
                <div class="vhc">Home</div>
            </a>
            <a href="/media" class="navbar-item vhc" v-bind:class="{active: globals.prototype.$mediaActive}">
                <div class="vhc">Media</div>
            </a>
            <a href="/CUBErt" class="navbar-item vhc" v-if="options.cubert" v-bind:class="{active: globals.prototype.$cubertActive}">
                <div class="vhc">CUBErt</div>
            </a>
            <a href="/camera" class="navbar-item vhc" v-if="options.camera" v-bind:class="{active: globals.prototype.$cameraActive}">
                <div class="vhc">Camera</div>
            </a>
        </div>
    </div>
        {{ template "contentHTML" .}}
    </div>
</body>
<script src="/templates/app.js"></script>
{{end}}
