{{define "baseHTML"}}

<head>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/styles/custom.css">
    <link rel="stylesheet" href="/static/styles/app.css">
    <link rel="stylesheet" href="/static/styles/material_icons.css">

    <script src="/static/scripts/thirdparty/all.js"></script>
    <script src="/static/scripts/thirdparty/jquery-2.1.0.min.js"></script>
    <script src="/static/scripts/custom/helpers.js"></script>
    <script src="/static/scripts/thirdparty/axios.min.js"></script>
    <script src="/static/scripts/thirdparty/vue-2.5.17.js"></script>
</head>

<body class="noselect">
    <div class="navbar vc" id="indexApp">
        <div class="navbar-logo">
            <div class="navbar-icon vhc">
                <input id="sidebar-toggle" type="checkbox" role="button" class="toggle-btn" />
                <label for="sidebar-toggle" style="height:45px;" class="vhc toggle-ico"><i class="material-icons icon-sm logo-nav-icon"></i></label>
                <div class="nav-menu">
                    <div class="panel col-100" v-cloak>
                        <div class="panel-content col-100 hc">
                            <a href="/" class="tile-md l2 clickable no-touch-table navbar-menu-item">
                                <div class="panel col-100">
                                    <div class="panel-header col-80">Home</div>
                                    <div class="panel-content hc">
                                        <i class="material-icons icon-md vhc">home</i>
                                    </div>
                                </div>
                            </a>
                            <a href="/media" class="tile-md l2 clickable no-touch-table navbar-menu-item">
                                <div class="panel col-100">
                                    <div class="panel-header col-80">Media</div>
                                    <div class="panel-content hc">
                                        <i class="material-icons icon-md vhc">video_library</i>
                                    </div>
                                </div>
                            </a>
                            <a href="/CUBErt" class="tile-md l2 clickable no-touch-table navbar-menu-item" v-if="options.cubert">
                                <div class="panel col-100">
                                    <div class="panel-header col-80">CUBErt</div>
                                    <div class="panel-content hc">
                                        <i class="material-icons icon-md vhc">cast</i>
                                    </div>
                                </div>
                            </a>
                            <a href="/camera" class="tile-md l2 clickable no-touch-table navbar-menu-item" v-if="options.camera">
                                <div class="panel col-100">
                                    <div class="panel-header col-80">Camera</div>
                                    <div class="panel-content hc">
                                        <i class="material-icons icon-md vhc">videocam</i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-overlay"></div>
            </div>
        </div>
        <div class="navbar-navigation vhc" v-cloak>
            <a href="/" class="navbar-item vhc">
                <div class="vhc">Home</div>
            </a>
            <a href="/media" class="navbar-item vhc">
                <div class="vhc">Media</div>
            </a>
            <a href="/CUBErt" class="navbar-item vhc" v-if="options.cubert">
                <div class="vhc">CUBErt</div>
            </a>
            <a href="/camera" class="navbar-item vhc" v-if="options.camera">
                <div class="vhc">Camera</div>
            </a>
        </div>
    </div>
        {{ template "contentHTML" .}}
    </div>
</body>
<script src="/templates/app.js"></script>
{{end}}
