{{define "contentHTML"}}
<div class="trim-content-box slogan-box">
    <clock-widget></clock-widget>
</div>
<!--<globe id="network-globe"></globe>
<div id="macAddr"></div>-->
<div id="ipAddr"></div>

<head>
    <!--<script src="/static/scripts/thirdparty/Detector.js"></script>
    <script src="/static/scripts/thirdparty/three.min.js"></script>
    <script src="/static/scripts/thirdparty/Tween.js"></script>-->
    <script src="/static/scripts/widgets/clock.js"></script>
    <!--<script src="/static/scripts/widgets/globe.js"></script>-->
    <script src="/templates/home/home.js"></script>
</head>

{{end}}