{{define "contentHTML"}}
<div id="homeContent" class="no-touch-top flex-container col-100" >
  <div class="panel col-100">
    <div class="panel-header" style="height:fit-content;">
        <div class="trim-content-box slogan-box">
            <div id="clock" v-text="time"></div>
        </div>
    </div>
    <div class="panel-content vhc" style="height: 100%;">
        <div id="ipAddr" v-text="localAddr"></div>
    </div>
  </div>
    <!--<globe id="network-globe"></globe>
    <div id="macAddr"></div>-->
</div>
<script src="/templates/home/home.js"></script>
{{end}}